<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="public/css/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="public/css/purple_theme_mobile.min.css" />
        <link rel="stylesheet" href="public/css/my.css" />
    </head>
    <body style="height:100%">
        <!-- Home -->
        <div data-role="page" class="page" data-theme="d" id="page">
            <div class="header" data-role="header" data-position="fixed"></div>
            <div class="detailsView">Hello Hello</div>
            <div class="content" id="content" ></div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li><a href="#list" data-icon="star">List</a></li>
                        <li><a href="#map" data-icon="map">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

    <script type="text/template" id="listTemplate">
        <ul data-role="listview" class="studiosList" id="studiosList" data-dividertheme="d" data-inset="false"></ul>
    </script>

    <script type="text/template" id="listItemTemplate">
        <li data-theme="c" class="ui-li ui-li-static ui-btn-up-c">
            <p class="studioName">
                <%= name %>
                <span><%= distance %> miles</span>
            </p>
        </li>
    </script>

    <script type="text/template" id="headerTemplate">
        <h3 style="margin-left:1em;text-align:left">
            <%= value %>
        </h3>
    </script>   

   <!--<script src="public/application_prod.js"></script>-->
   <script src="http://localhost:3001/assets/js/application.js"></script>
</html>
