<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="purple_theme_mobile.min.css" />
        <link rel="stylesheet" href="my.css" />
    </head>
    <body style="height:100%">
        <!-- Home -->
        <div data-role="page" data-theme="d" id="page1">
            <div class="header" data-role="header" data-position="fixed"></div>
            <div class="content" id="content" ></div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#list" data-icon="star">
                                List
                            </a>
                        </li>
                        <li>
                            <a href="#map" data-icon="map">
                                Map
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

    <script type="text/template" id="listTemplate">
        <ul data-role="listview" class="studiosList" id="studiosList" data-dividertheme="d" data-inset="false" style="margin-top:43px"></ul>
    </script>

    <script type="text/template" id="listItemTemplate">
        <li data-theme="c" class="ui-li ui-li-static ui-btn-up-c"><%= name %>
          <p class="ui-li-aside ui-li-desc"><strong><%= distance %> </strong>miles</p>
        </li>
    </script>

    <script type="text/template" id="headerTemplate">
        <h3 style="margin-left:1em;text-align:left">
            <%= value %>
        </h3>
    </script>   

   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
   <script src="http://localhost:9292/assets/js/application.js"></script>
</html>
