/* Put your custom CSS here */

#page1 {
	background-image: url(yoga-mat-texture.jpg);
	background-attachment:fixed;
}

.ui-content { 
  opacity: 0.6;
}

h3 { 
	margin-left:1em;text-align:left
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
padding: 1em 15px;
display: block;
color:#555;
}

.ui-btn-inner { 
	background-color:#4d3361;
	color:#ccc;
}

.map-canvas { 
	height:100%;
	position:fixed;
	top:0px;
	bottom:0px;
	width:100%;	
}

.studiosList { 
	margin-top: 25px;
}

.content {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	bottom:57px;
}

