html, body {
	height: 100%;
}

#content {
	margin-top:18px;
	width:100%;
	padding:0px;
}


#page1 {
	background-image: url(yoga-mat-texture.jpg);
	background-attachment:fixed;
}

.ui-content { 
  opacity: 0.6;
}

h3 { 
	margin-left:1em;text-align:left
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 1em 15px;
	display: block;
	color:#555;
	width:100%;
}

.ui-btn-inner { 
	background-color:#4d3361;
	color:#ccc;
}

.map-canvas { 
	height:100%;
	position:fixed;
	top:0px;
	bottom:0px;
	width:100%;	
}

.content {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	bottom:57px;
}

.studiosList {
	padding:0px;
	margin-right:0px;
	opacity:0.7;
	color:black;
}

*/